@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 55 88 249;
    --color-green: 19 194 150;
    /* ... */
  }
}

.css-1jkcq86-MuiResponsiveChart-container {
  width: fit-content !important;
  height: fit-content !important;


}


